//!================================================================================
//! Fonts 繼承
//!================================================================================

// 移除字型預設上下高度留白
%useBoxTrimBoth {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

// 移除字型預設上高度留白
%useBoxTrimStart {
  text-box-trim: trim-start;
  text-box-edge: cap alphabetic;
}

// 移除字型預設下高度留白
%useBoxTrimEnd {
  text-box-trim: trim-end;
  text-box-edge: cap alphabetic;
}

//!================================================================================
//! position 繼承
//!================================================================================

// 區塊置中
%usePositionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
