@import "tailwindcss";

/*設定說明
  --color-* → 顏色
  --font-* → 字型
  --text-* → 字體大小
  --spacing-* → 間距/尺寸
  --breakpoint-* → RWD 斷點
  --radius-* → 圓角 (rounded-*)
  --shadow-* → 陰影 (shadow-*)
  --animate-* → 動畫 (animate-*)
*/

/* 設定檔 */
@theme {
  /* 主色系 */
  --color-primary-900: #0c4a6e;
  --color-primary-800: #075985;
  --color-primary-700: #0369a1;
  --color-primary-600: #0284c7;
  --color-primary-500: #0ea5e9;
  --color-primary-400: #38bdf8;
  --color-primary-300: #7dd3fc;
  --color-primary-200: #bae6fd;
  --color-primary-100: #e0f2fe;

  /* 副色系 */
  --color-secondary-900: #78350f;
  --color-secondary-800: #92400e;
  --color-secondary-700: #b45309;
  --color-secondary-600: #d97706;
  --color-secondary-500: #f59e0b;
  --color-secondary-400: #fbbf24;
  --color-secondary-300: #fcd34d;
  --color-secondary-200: #fde68a;
  --color-secondary-100: #fef3c7;

  /* 灰色系 */
  --color-gray-900: #171717;
  --color-gray-800: #262626;
  --color-gray-700: #404040;
  --color-gray-600: #525252;
  --color-gray-500: #737373;
  --color-gray-400: #a3a3a3;
  --color-gray-300: #d4d4d4;
  --color-gray-200: #e5e5e5;
  --color-gray-100: #f3f3f3;

  /* 其他色系 */
  --color-white: #ffffff;
  --color-black: #000000;

  /* 斷點設定 */
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1800px;

  /* 文字字型*/
  --font-display: Arial, sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  /* 文字大小*/
  --text-clamp-h1: clamp(16px, calc(48 / 19.2 * 1vw), 48px);
}

/* 自訂義:移除文字上下留白*/
@utility text-trim-both {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic; /* 上對 cap、下對 alphabetic 基線 */
}

/* 自訂義:移除文字上留白*/
@utility text-trim-start {
  text-box-trim: trim-start;
  text-box-edge: cap alphabetic; /* 上對 cap、下對 alphabetic 基線 */
}

/* 自訂義:移除文字下留白*/
@utility text-trim-end {
  text-box-trim: trim-end;
  text-box-edge: cap alphabetic; /* 上對 cap、下對 alphabetic 基線 */
}
